<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autenticacion</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="login.component.scss">
</head>
<body>
  <div class="container">
    <div class="section">
      <div class="container">
        <div class="row full-height justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
              <h3 class="mb-0 pb-3">
                <span>Ingresar</span><span>Registrarse</span>
              </h3>
              <input class="checkbox" type="checkbox" id="reg-log" name="reg-log">
              <label for="reg-log"></label>
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <div class="card-front">
                    <div class="center-wrap">
                      <div class="section text-center">
                        <h4 class="mb-4 pb-3"> <a class="logo" target="_blank">
                          <img
                            src="../../../../assets/imagenes/Logo UTN.png"
                            class="img-fluid"
                            alt="UTN Logo"
                          />
                        </a></h4>
                        <h4 class="mb-4 pb-3">Iniciar Sesion</h4>
                        <form [formGroup]="usuarioForm.baseForm">
                          <!-- Formulario de inicio de sesión -->
                          <mat-form-field>
                            <mat-label>Cedula</mat-label>
                            <input matInput type="number" formControlName="Usuario_Id">
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Contrasena</mat-label>
                            <input type="password" matInput formControlName="Contrasena">
                          </mat-form-field>
                          <button mat-raised-button color="primary" class="mt-4">Iniciar Sesion</button>
                        </form>
                        <p class="mb-0 mt-4 text-center">
                          <a href="#0" class="link">Olvidó contraseña?</a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card-back">
                    <div class="center-wrap">
                      <div class="section text-center">
                        <h4 class="mb-4 pb-3"> <a class="logo" target="_blank">
                          <img
                            src="../../../../assets/imagenes/Logo UTN.png"
                            class="img-fluid"
                            alt="UTN Logo"
                          />
                        </a></h4>
                        <h4 class="mb-4 pb-3">Registrarse</h4>
                        <form [formGroup]="usuarioForm.baseForm">
                          <mat-form-field>
                            <mat-label>Cedula</mat-label>
                            <input matInput type="number" formControlName="Usuario_Id">
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Correo Electronico</mat-label>
                            <input type="email" matInput formControlName="Correo">
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Contrasena</mat-label>
                            <input type="password" matInput formControlName="Contrasena">
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Repetir contrasena</mat-label>
                            <input type="password" matInput formControlName="RepetirContrasena">
                            <mat-error *ngIf="contrasenasNoCoinciden">Las contraseñas no coinciden</mat-error>
                          </mat-form-field>
                          <button mat-raised-button color="primary" class="mt-4" (click)="Registrarse()">Registrarse</button>
                        </form>
                        <p class="mb-0 mt-4 text-center">
                          <a href="#0" class="link">¿Ya tiene cuenta? Inicie Sesion</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="row">
      <div class="col-md-6 p-4">
        <h3>Terminos de uso y politicas de privacidad</h3>
      </div>
      <div class="col-md-3 p-4"></div>
      <div class="col-md-3"></div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>