<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="atencion-psicologica.component.scss" />
<!--<title>Bitacora</title>
  </head>
  <body>-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form>
        <p>¿Desea su atención presencial o remota</p>
        <div class="check">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              formControlName="Respuesta_Cuestionario"
            />
            <label class="form-check-label" for="inlineRadio1"
              >Presencial</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              formControlName="Respuesta_Cuestionario"
            />
            <label class="form-check-label" for="inlineRadio2">Virtual</label>
          </div>
        </div>
        <br />

        <p>¿Cuál sería el motivo de su consulta?</p>
        <mat-form-field>
          <mat-label></mat-label>
          <textarea matInput formControlName="Respuesta_Cuestionario">
          </textarea>
        </mat-form-field>

        <p>¿En qué sede estudia?</p>
        <mat-form-field>
          <mat-label>Sede</mat-label>
          <mat-select formControlName="Respuesta_Cuestionario">
            <mat-option *ngFor="let Sede of Sede" [value]="Sede.value">
              {{ Sede.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <p>¿A qué hora tiene disponibilidads?</p>
        <mat-form-field>
          <mat-label>Horario</mat-label>
          <mat-select formControlName="Respuesta_Cuestionario">
            <mat-option *ngFor="let Horario of Horario" [value]="Horario.value">
              {{ Horario.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <p>Mencione 2 días de su preferencia que desee las citas</p>
        <mat-form-field>
          <mat-label></mat-label>
          <textarea matInput formControlName="Respuesta_Cuestionario">
          </textarea>
        </mat-form-field>

        <p>¿Alguna observación que quiera expresar?</p>
        <mat-form-field>
          <mat-label></mat-label>
          <textarea matInput formControlName="Respuesta_Cuestionario">
          </textarea>
        </mat-form-field>
      </form>

      <div class="example-button-row div3">
        <button type="button" class="btn btnds position-static boton2">
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-2"></div>

<!--</body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
</html>-->
