<!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="retroalimentacion.component.scss">
    <!--<title>Bitacora</title>
  </head>
  <body>-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p></p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <form >
            <h2>Retroalimentacion de la atención brindada</h2>
            

            <p>¿Cómo calificarías la disponibilidad y accesibilidad del personal de atención en el área de psicología de la universidad?</p>
            <mat-form-field>
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="Observacion"> </textarea>
            </mat-form-field>

            <p>¿El personal de atención en psicología demuestra conocimientos sólidos y actualizados en el campo de la psicología?</p>
            <mat-form-field>
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="Observacion"> </textarea>
            </mat-form-field>

            <p>¿Consideras que el personal de atención en psicología de la universidad es amable y respetuoso durante tus interacciones?</p>
            <mat-form-field>
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="Observacion"> </textarea>
            </mat-form-field>

            <p>¿El personal de atención en psicología de la universidad brinda información clara y precisa sobre los servicios disponibles?</p>
            <mat-form-field>
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="Observacion"> </textarea>
            </mat-form-field>

            <p>¿Te sientes escuchado/a y comprendido/a por el personal de atención en psicología de la universidad?</p>
            <mat-form-field>
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="Observacion"> </textarea>
            </mat-form-field>

            <p>¿El personal de atención en psicología de la universidad te proporciona orientación y asesoramiento adecuado para tus necesidades y preocupaciones?</p>
            <mat-form-field>
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="Observacion"> </textarea>
            </mat-form-field>

            <p>¿Recibes una respuesta oportuna y eficiente a tus consultas y solicitudes por parte del personal de atención en psicología?</p>
            <mat-form-field>
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="Observacion"> </textarea>
            </mat-form-field>


            <p>¿Consideras que la confidencialidad y privacidad de los estudiantes se manejan adecuadamente por parte del personal de atención en psicología de la universidad?</p>
            <mat-form-field>
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="Observacion"> </textarea>
            </mat-form-field>

            <p>¿La universidad cuenta con recursos adicionales, como talleres o grupos de apoyo, para complementar el servicio de atención en psicología?</p>
            <mat-form-field>
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="Observacion"> </textarea>
            </mat-form-field>

            <p>¿Recomendarías el servicio de atención en el área de psicología de la universidad a otros estudiantes que necesiten apoyo emocional o psicológico?</p>
            <mat-form-field>
              <mat-label>Observaciones</mat-label>
              <textarea matInput formControlName="Observacion"> </textarea>
            </mat-form-field>

          </form>


          <div class="example-button-row div3">
            <button type="button" class="btn btnds position-static boton2">
              Enviar
            </button>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  <!--</body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
</html>-->
