.container {
    background-color: white;
    padding: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    border: solid 1px;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  .boton {
    text-align: right;
    margin-top: 20px;
  }
  
  