
.container {
    position: absolute;
    bottom: 0;
    width: 2000px;
    height: 100px;
    background-color: #1b3069;
    padding: 20px 0;
    max-width: 100%;
  }

  .fa-brands {
    font-size: 45px;
    margin-right:-5px;
    margin-left: 20px;
    margin-top: 10px;

  }
