<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="footer.component.scss" />
    <title>MenuBienestarEstudiantil</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <footer>
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-1">
                <div class="footer-image">
                    <a class="footer-links" href="https://www.utn.ac.cr/content/centros-y-programas" target="_blank" >
                        <img src="../../../../assets/imagenes/LOGO_centrosProgramas.png" alt="Imagen 1" width="80">
                    </a>
                    <div class="image-title">Centros y Programas</div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="footer-image">
                    <a class="footer-links" href="https://www.utn.ac.cr/contratacion-administrativa" target="_blank">
                        <img src="../../../../assets/imagenes/LOGO_contratacionAdministrativa.png" alt="Imagen 2" width="80">
                    </a>
                    <div class="image-title">Contratación Administrativa</div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="footer-image">
                    <a class="footer-links" href="https://campusvirtual.utn.ac.cr/" target="_blank">
                        <img src="../../../../assets/imagenes/LOGO_campusVirtual.png" alt="Imagen 2" width="80">
                    </a>
                    <div class="image-title">Campus Virtual</div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="footer-image">
                    <a class="footer-links" href="https://www.utn.ac.cr/content/enlaces-de-inter%C3%A9s" target="_blank">
                        <img src="../../../../assets/imagenes/LOGO_enlacesInteres.png" alt="Imagen 2" width="80">
                    </a>
                    <div class="image-title">Enlaces de interés</div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="footer-image">
                    <a class="footer-links" href="https://www.utn.ac.cr/tribunal-electoral" target="_blank">
                        <img src="../../../../assets/imagenes/LOGO_TribunalElectoral.png" alt="Imagen 2" width="80">
                    </a>
                    <div class="image-title">Tribunal Electoral</div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="footer-image">
                    <a class="footer-links" href="https://www.utn.ac.cr/content/publicaciones-utn" target="_blank">
                        <img src="../../../../assets/imagenes/LOGO_publicaciones.png" alt="Imagen 2" width="80">
                    </a>
                    <div class="image-title">Publicaciónes</div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="footer-image">
                    <a class="footer-links" href="https://www.utn.ac.cr/directorio-interno" target="_blank">
                        <img src="../../../../assets/imagenes/LOGO_directorioInstitucional.png" alt="Imagen 2" width="80">
                    </a>
                    <div class="image-title">Directorio Institucional</div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="footer-image">
                    <a class="footer-links" href="https://repositorio.utn.ac.cr/" target="_blank">
                        <img src="../../../../assets/imagenes/LOGO_repositorioInstitucional.png" alt="Imagen 2" width="80">
                    </a>
                    <div class="image-title">Repositorio Institucional</div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="footer-image">
                    <a class="footer-links" href="https://www.utn.ac.cr/content/mapa-del-sitio" target="_blank">
                        <img src="../../../../assets/imagenes/LOGO_mapaSitio.png" alt="Imagen 2" width="80">
                    </a>
                    <div class="image-title">Mapa del sitio</div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="footer-image">
                    <a class="footer-links" href="https://www.utn.ac.cr/content/sistema-de-intermediaci%C3%B3n-de-empleo" target="_blank">
                        <img src="../../../../assets/imagenes/LOGO_sistemaIntermediacion.png" alt="Imagen 2" width="80">
                    </a>
                    
                    <div class="image-title">
                        Sistema de intermediación de empleo
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-text">
        © 2015 UTN Todos los Derechos Reservados &nbsp;|&nbsp; <a href="https://www.utn.ac.cr/content/t%C3%A9rminos-y-condiciones">Términos y Condiciones</a> &nbsp;|&nbsp;
        <a href="https://www.utn.ac.cr/content/buzon-de-calificacion-sitio-utn">Buzón de calificación del sitio UTN</a>  &nbsp;|&nbsp;  <a href="https://transparencia.utn.ac.cr/contacto">Contacto</a>
    </div>
    <div class="footer-text">
        Esta página es obra de estudiantes de la Universidad Técnica Nacional como parte del proyecto para Bienestar Estudiantil
    </div>
      </footer>


      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

 <!--<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>-->